.blogs .title h2 {
  font-size: 3rem;
}

.blogs .title img.position-absolute {
  top: 60px;
  right: 1px;
  width: calc(100% - 2px);
}

.learning span.free {
  border-left: 3px solid var(--main-red);
}

.learning a:hover {
  background-color: var(--main-blue);
}
