.home-banner {
  margin-top: 102px;
}

section.home-banner .content span,
.categories span {
  border-left: 3px solid var(--main-red);
}

section.home-banner .content h1 {
  font-size: 4.5rem;
}

section.home-banner .banner-img img.position-absolute {
  bottom: 110px;
  width: 50%;
}

/* *, ::before, ::after {
    box-sizing: border-box;
}

.home-pic {
    height: 670px;
    background-color: #b9e7eb;
    margin-top: 102px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.blue-dot {
    margin-top: 70px;
    margin-left: 70px;
}

.content {
    margin-top: 65px;
    margin-left: 110px;
}

.banner{
    color: #d1083b;
    font-weight: 500;
    background-color: #fff;
    width: 217.5px;
    height: 35px;
    display: flex;
}

.banner span{
   align-content: center;
   margin: auto;
}

.content h1{
    font-size: 70px;
    width: 700px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 75px;
}

.content p{
    width: 530px;
    color:#6c6f70;
    line-height:25px;
    margin-top: 15px;
}

.content button{
    margin-top: 20px;
    background-color: #1268eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 13px;
    width: 175px;
    font-weight: 600;
}

.main-pic{
    position: relative;
}
.main-img{
    position: relative;
    z-index: 1;
    top: 43px;
    right: 30px;
}
.purple-circle{
    position: absolute;
    top: 210px;
    right: 30px;
    z-index: 0;
}

.main-pic .blue-dot{
    position: absolute;
    top: 20px;
    right: 180px;
    z-index: 0;
}

.main-pic .star{
    position: absolute;
    top: 120px;
    left: 150px;
    z-index: 0; 
}

.main-pic .light{
    position: absolute;
    bottom: 80px;
    left: 5px;
    z-index: 0;
}
.main-pic .pink{
    position: absolute;
    bottom: 120px;
    right: 25px;
    z-index: 0;
}

.categories{
    margin-top: 120px;
}

.categories p{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 40px;
}

.comp{
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    height: 102px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 50px;
}
.browse{
    position: relative;
    height: 490px;
}
.browse .star{
    position: relative;
    margin-left: 450px;
}
.browse .blue-dot{
    position: relative;
    margin-top: 10px;
    margin-left: 1210px;
    margin-bottom: 20px;
}

.browse-item .banner{ 
    background-color: #fcf5f7 ;
    color: #d1083b;
    font-weight: 500;
    width: 177px;
    height: 35px;
    display: flex;
}

.browse-item span{
    align-content: center;
    margin: auto;
 }
 
 .browse-item h1{
    margin-top: 10px;
    width: 210px;
    font-weight: 700;
    font-size: 45px;

 }

 .arrows{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
 }

 .arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;

 }
 .arrow:hover{
    cursor: pointer;
 }

 .arrow i{
    align-self: center;
    margin: auto;
 }

 .cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
 }


 .card{
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 .card p{
    color:#787878;
 }
 
 .featured-courses{
    background-color: #f2f3fc;
    height: 1200px;
 }
 .sec{
    height: 100px;
 }
 .courses-banner{
    background-color: #f1ebf5;
    color: #d1083b;
    font-weight: 500;
    width: 167px;
    height: 35px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
 }

 .courses-banner span{
        align-content: center;
        margin: auto;
 }
 .text-container h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container .pill-nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pill-nav ul{
   background-color: #fff;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   width: 667px;
    padding: 5px 5px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px #E1E2E6;
}

.pill-nav ul li button{
    padding: 8px 30px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    border:none;
    background-color: #fff;
    color: rgba(30, 30, 30, 0.6);
}
.pill-nav ul li .first{
    color: #fff;
    background-color:  #0d6efd;
}

.courses{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
}

.courses .card{
 padding: 10px;
 border-radius: 10px;
 box-shadow: 0px 20px 80px rgba(30, 30, 30, 0.1);
 position: relative;
 z-index: auto;
}

.content-top{
      display: flex;
        align-items: center;
        gap: 10px;
}

.content-top img{

    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 4px;
    display: grid;

}

.content-top span{
    font-size: 14px;
    font-weight: 400;
    color: rgba(30, 30, 30, 0.6);
}

.card-body h5{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 20px;
}

hr{
    color: #787878;
}

.footer{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}

.right .blue-text{
    color: #1268eb;
}

.start-learning{

 display: flex;
 align-items: center;
}

.learning-section{
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 100px;
    margin-bottom: 140px;
}


.learn-banner{ 
    background-color: #fcf5f7 ;
    color: #d1083b;
    font-weight: 500;
    width: 177px;
    height: 35px;
    display: flex;
}

.learn-banner span{
    align-content: center;
    margin: auto;
 }
 

 .text h1{

 margin-top: 0px;
 line-height: 1.2;
 font-weight: 700;
 margin-bottom: 15px; 
 font-size: 45px;

 }

.text p{
    width: 530px;
    color:#6c6f70;
    line-height:25px;
    margin-top: 15px;
}

.text ul li{
    font-size: 15px;
    font-weight: 500;
    padding-left: 15px;
    margin-bottom: 5px;
    line-height: 28px;
}
.text button{
   
    background-color: #1268eb;
    color: #fff;
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 6px;

}
.events-section{
    height: 810px;
    background-color: #f2f3fc;
}

.events-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.event-banner{ 
    background-color: #fcf5f7 ;
    color: #d1083b;
    font-weight: 500;
    width: 218px;
    height: 35px;
    display: flex;
    margin-bottom: 10px;

}

.event-banner span{
    align-content: center;
    margin: auto;
 }

 .event-text h2{
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
 }
 
 .events-buttons .arrow{   
     box-shadow: 0px 2px 0px #E1E2E6;
    }

    .events-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
        margin-top: 40px;
    }


.events-cards .card{
    padding: 20px
}    

 .card-body button{
   
    align-items: center;
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: 1px solid gray;
    background-color: #fff;;
    border-radius: 6px;
    margin-top: 5px;

}

.start{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    
}
.start .tit{
    width: fit-content;
    padding:5px 20px ;
    background-color:#ddd;
    margin: 0 auto;
    border-top: 3px solid #d41848;
    color:#d41848 ;
    margin-bottom: 20px;
    p{
        margin:auto 0;
    }
}
.rev{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.rev::after{
    content: '';
    display: block;
    width: 500px; 
    height: 5px;
    background: linear-gradient(
        to right,
        var(--secondary-gray) 40%, 
        blue 40%, 
        blue 60%, 
        var(--secondary-gray) 60%
    );    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}
.rev .rev-box{
    gap: 20px;
    background-color: var(--secondary-gray);
    border-radius: var(  --main-border-radius);
    padding: 60px 20px;
    
}
.rev .rev-box .head{
    justify-content: space-between;
    margin-bottom: 20px;
    h3{
        font-size: 20px;
    }
    .people{
        padding-left: 20px;
    }
    img{
        width: 70px;
        border-radius: 50px;
    }
    .stars{
        position: relative;
        top: 10px;
    }
}


.stats-section {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 80px;
}

.stats-card {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
}

.stats-icon {
    font-size: 2rem;
    color: #e60023;
    margin-bottom: 10px;
}

.stats-number {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin: 10px 0;
}

.stats-label {
    font-size: 1rem;
    color: #666;
} */
