.home-banner {
  margin-top: 102px;
}

section.home-banner .content span,
.categories span {
  border-left: 3px solid var(--main-red);
}

section.home-banner .content h1 {
  font-size: 4.5rem;
}

section.home-banner .banner-img img.position-absolute {
  bottom: 110px;
  width: 50%;
}

section.blogs span.our-blog,
section.f-courses span.f-courses {
  border-top: 3px solid var(--main-red);
}

section.f-courses {
  margin-top: 120px;
  padding-bottom: 120px;
}
