.card {
  border-radius: 10px;
  transition: transform 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.price {
  color: #000;
  font-weight: bold;
}

.text-muted s {
  color: #aaa;
}

.badge {
  font-size: 12px;
}
.box {
  background-color: var(--secondary-gray);
}
