.instructor {
  background-image: url(../../assets/imgs/page-5/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

section div.instructor button:hover {
  background-color: var(--main-blue);
}

section div.instructor img.position-absolute {
  top: 50px;
  right: 1px;
  width: calc(100% - 2px);
}

.teacher-info {
  opacity: 0;
  transform: translateY(4%);
  -webkit-transform: translateY(4%);
  -moz-transform: translateY(4%);
  -ms-transform: translateY(4%);
  -o-transform: translateY(4%);
  transition: all, 300ms;
  -webkit-transition: all, 300ms;
  -moz-transition: all, 300ms;
  -ms-transition: all, 300ms;
  -o-transition: all, 300ms;
}

.teacher-info:hover {
  opacity: 1;
  background-color: #1269eb4a;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.instructor a:hover {
  background-color: var(--main-blue);
}
