.form-container {
    max-width: 450px;
    padding: 20px 0;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-social img {
    width: 20px;
    margin-right: 10px;
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.tab-link {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.tab-link.active {
    color: #007bff;
    border-top: 2px solid #007bff;
}
form {
    padding: 10px;
}

.error-msg {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: none;
  }
